<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>

  <p>
    Splurty was built by <a target="_blank" href="http://github.com/brihong">Brian Hong</a>. This Quote Generator app is one of his first projects created using Ruby, Rails, HTML, and CSS.
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>

<div class="row">
    <div class="col-12 col-sm-4" style="padding-top:30px;">
      <%= image_tag 'me-wed.jpg', class: 'img-fluid' %>
    </div>
    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Brian Hong</h2>
      <br />
      <p>
        Brian is currently a web developer in training at the UC Berkeley Coding Bootcamp. Check out his other projects and portfolio at <a target="_blank" href="http://brihong-netlify.com/">Brian's Portfolio</a>.
      </p>
    </div>
  </div>

</div>

<br class="clear" />
<br />
<br />
<br />
<br />