<h2>
  <span>SPLURTY / No. <%= @quote.id %></span>
  Quote of the Day:
</h2>
<br />
<br />
<h1><%= @quote.saying %></h1>
<br />
<br />
<h2 class="float-left">- <%= @quote.author %></h2>

<br class="clear" />
<br />
<br />
<br />

